<!doctype html>
<html ng-app="SketchWS">
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="SketchCtrl">
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="img"/>
      <button class="btn btn-primary">Upload</button>
    </form>
    <table class="table table-hover table-striped">
        <tr><th>Original</th><th>Sketch</th><th>Actions</th></tr>
        <tr ng-repeat="s in sketches">
            <td class="col-sm-4"><img ng-src="/sketch/{{s.name}}/orig.png"></td>
            <td class="col-sm-4"><img ng-src="/sketch/{{s.name}}/sketch.png"></td>
            <td class="col-sm-4" ng-if="!s.w">
                <span class="glyphicon glyphicon-print" aria-hidden="true" ng-click="print(s)"></span>
                <span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="delete(s)"></span>
            </td>
            <td class="col-sm-4" ng-if="s.w">
                <span><progressbar ng-show="s.step !== undefined" max="s.steps" value="s.step">
                    <span style="color:white; white-space:nowrap">{{s.step}} / {{s.steps}} {{s.label}}</span>
                </progressbar></span>
            </td>
        </tr>
    </table>
  </body>
</html>
